
/*    You can write your own styles here...   
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';
*/
body {
    background-image: url("https://th.bing.com/th/id/R.20c5d1d619acfbb0ecbc1af068c528a6?rik=RZN0ufRlshz9kg&riu=http%3a%2f%2fbgfons.com%2fuploads%2fcork%2fcork_texture7018.jpg&ehk=IIvJ5dEv13Sy5mhdovBtA2rnA9jpjjBcUyr88qkEGyM%3d&risl=&pid=ImgRaw&r=0");
    background-size: contain;
}

.strikeThrough {
    text-decoration: line-through;
}

.postIt {
    background-color: rgb(249, 249, 143);
    box-shadow: 5px 48px 19px 1px rgba(0, 0, 0, 0.6),
    inset 0px -110px 50px -5px rgba(0, 0, 0, 0.414);
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 25vh;
    rotate: 3deg;
}

input {
    background-color: rgba(237, 237, 3, 0);
    font-family: cursive;
    padding: 10px 25px 10px 39px;
    border: none;
    outline: none;
}

ul {
    text-align: start;
    font-family: cursive;
    list-style:inside;
    overflow-wrap: break-word;
    padding-right: 10px;
    margin-top: 20px;
}

.delete {
    margin-left: 0px;
}

button {
    background: rgba(255, 255, 0, 0);
    border-color: rgba(255, 255, 0, 0);
}

.button-container {
    display: flex;
    gap: 8px; /* Adjust the spacing between the icons as needed */
    align-items: center;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px; /* Adjust padding for better click area */
}

button:focus {
    outline: none;
}

button .faPenToSquare, button .faTrash {
    font-size: 16px; /* Adjust icon size if needed */
    color: #000; /* Adjust color if needed */
}

